<!DOCTYPE html>
<html style="height:100%;">

<head>
  <%- include('./../partials/head.ejs') %>
  <title>Lista de contatos</title>
</head>

<body>
  <section id="prospector-container" class="container h-center" style="height:100%;">
    <div class="box b1 container padding-10">
      <div class="mobile-box lucida-grande bold center"><%= user.name %> | <%= user.phone.split('@')[0] %></div>
      <div class="mobile-box container right margin-right-10">
        <img id="customer-icon"
          class='image-prop ground size-40 border shadow-lg-st radius-5 opacity-out-08 padding-5 margin-right-5 pointer'
          src='/images/icon/add-customer.png'>
        <img id="customer-filter-icon"
          class='image-prop ground size-40 border shadow-lg-st radius-5 opacity-out-08 padding-5 margin-right-5 pointer'
          src='/images/icon/customer-list.png'>
        <img id="pdf-to-png-icon"
          class='image-prop ground size-40 border shadow-lg-st radius-5 opacity-out-08 padding-5 margin-right-5 pointer'
          src='/images/icon/pdf-to-png.png'>
        <img id="list_queue_icon"
          class='image-prop ground size-40 border shadow-lg-st radius-5 opacity-out-08 padding-5 margin-right-5 pointer'
          src='/images/icon/menu.png'>
        <a><img class="image-prop size-40 opacity-out-08 padding-5 margin-right-5 center pointer"
            onclick="lib.confirm('Deseja sair?', (r) => { if(r==true){ window.location.href='/user/logout' } })"
            src="/images/icon/logout.png"></a>
      </div>
    </div>

    <section class="container h-center">
      <div id="alert-messages" class="box b1 container margin-bottom-10 h-center"></div>
    </section>

    <%- include('./customer/main.ejs') %>
    <%- include('./customer/filter.ejs') %>
    <%- include('./list/main.ejs') %>
  </section>
</body>

<footer>
  <%- include('./../partials/footer.ejs') %>

  <script src="/js/messenger.js"></script>
  <script src="/js/contact/main.js"></script>
  <script src="/js/customer/main.js"></script>
  <script src="/js/customer/payment.js"></script>
  <script src="/js/customer/image.js"></script>
  <script src="/js/contact/map.js"></script>
  <script src="/js/contact/list.js"></script>
  <script src="/js/message/main.js"></script>

  <%- include('./websocket.ejs') %>

  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      websocketConnect();

      // check_contact_list.addEventListener("click", async e => {
      //   let validated_contact_list = await API.response(ContactList.check, {});
      //   console.log(validated_contact_list);
      // });
    });
  </script>
</footer>

</html>